* {
	font-family: Arial;
}

body {
	background-image: url("http://wallpapercave.com/wp/v5ShgSW.jpg");
	color: white;
}

table.calendar th {
	width: calc(100% / 7 );
	border: solid white 1px;
}

.calendar td {
	width: calc(100% / 7 );
	height: 100px;
	border: solid white 1px;
}

td {
	border: solid white 1px;
}

table {
	width: 100%;
}

table.calendar tbody td.selected {
	background-color: red;
}
table.calendar tbody td.fade {
	background-color: #666666;
}